@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&family=Gotu&family=Lobster&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Roboto", sans-serif;
}
.navbar-nav a{
  color: white !important;
}
.navbar-nav a:hover{
  background-color: white;
  color: black !important;
  border-radius: 5px;
}
.col-lg-7{
        margin-top: 150px;
      }
      .col-lg-7 h1, h5{
        margin-left: 100px;
    
        
      }
      .col-lg-7 h1{
        font-size: 70px !important;
      }
      .col-lg-7 h5{
        font-size: 40px !important;
        
      }
      .col-lg-5{
        margin-top: 100px;
        
      }

      /*                 About Section            */
      .para{
        text-align: justify;
        text-indent: 80px;
        color: white;
      }
      .about{
        background-color: #84AE92;
      }
      .section-title{
        color: rgb(217, 255, 0);
      }




      /*               Project Section          */
      .pro-img{
        margin-top: 150px !important;
      }

      /*             Registration page          */

      .reg button{
        width: 100px;
      }

      /*          Contact Section        */

      .address{
        margin-top: 50px;
      }
      .map iframe{
        width: 100%;
        height: 400px;
      }

      /*  Footer Section    */

      .card-footer{
        color: white;
      }